<%= @project.path %>

<h2>Untracked</h2>
<ul>
<% @project.untracked_files.each do |path| %>
  <li><%= path %></li>
<% end %>
</ul>

<h2>Changed</h2>
<ul>
<% @project.changed_files.each do |path| %>
  <li><%= path %></li>
<% end %>
</ul>

<% if @error_message %>
  <div id="flash_error"><%= @error_message %></div>
<% end %>

<form action="/projects/<%= @project.slug %>/commits" method="post">
  <textarea name="message" rows="10" cols="40"><%= @message %></textarea>
  <input type="submit" value="Commit">
</form>

<h2>Recent Commits</h2>
<ul>
<% @project.recent_commits.each do |commit| %>
  <li><a href="https://github.com/wested/<%= @project.slug %>/commit/<%= commit.id %>" target="_blank"><%= commit.message %></a></li>
<% end %>
</ul>